/****************************/
/*resets and global styling */
/****************************/
/* reset info at http://cssreset.com/scripts/eric-meyer-reset-css/ */
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: Ovo, serif;
    font-size: 0.9em;
}

h2 {
    font-family: Muli, sans-serif;
}

p {
    font-size: 125%;
}

code {
    font-family: Courier, monospace; /* needed for Chrome */
}

table {
    border-collapse:collapse;
    border-spacing: 0;
    font-family: Muli, sans-serif;
    margin: 0px auto;
}

tr td:first-child {
    padding-right: 2em;
}

tr td:not(:first-child) {
    border-bottom: solid 1px #abd9e9;
    padding-right: 3em;
    padding-left: 3em;
    text-align: center;
}

th {
    border-bottom: solid 3px #2c7bb6;
}

td {
    padding: 0.5em;
}

caption {
    caption-side: bottom;
    /* font-size: 1.25em; */
    margin-top: 1em;
}

/**********************/
/* styling by section */
/**********************/

#banner {
    background-color: #87CEFA;
    color: #E0FFFF;
    width: 100%;
}

#banner > h1 {
    /* border: solid 1px white; */
    font-family: Ovo, serif;
    font-size: 2.5em;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

#nav_bar {
    border-bottom: solid 1px #800080;
    font-family: Georgia, serif;
    background: #FFFFE0;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

#nav_bar a:link {
    color: #800080;
}

#nav_bar a:hover {
    color: #FFD700;
}

.nav_span {
    margin-right: 2em;
}

.nav_span a {
    text-decoration: none;
}

#container {
    width: 100%;
}

#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#intro {
    max-width: 500px;
    margin: auto;
    margin-top: 2em;
}

#intro > img {
    vertical-align: middle;
    width: 75%;
    height: auto;
}

.oversize {
    color: #2c7bb6;
    font-size: 5em;
    padding: 0.5em;
}




